.dataTables_length {
  display: none;
}

#search_results {

  ul.pagination {
    padding: .5rem 0rem;
    display: flex;
    justify-content: flex-end;

    li {
      margin-left: 2px;
      display: flex;

      &.active {
        background: linear-gradient(to bottom,rgba(230,230,230,.1) 0,rgba(0,0,0,.1) 100%);
        border: 1px solid rgba(0,0,0,.3);
      }

      &:not(.active) {

        &:hover {
          color: #fff!important;
          background: linear-gradient(to bottom,#585858 0,#111 100%);
          border: 1px solid #111;
        }
      }

      a {
        color: inherit;
        text-decoration: none;
        padding: .5rem 1rem;
      }
    }
  }
}